<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>

        </tr>
    </thead>
    <tbody>
        <div class="content" id="content">
            <tr *ngFor="let cafe of cafesPanel">
                <th class="codigoCafe" id="cafe.codCafe" scope="row">{{cafe.codCafe}}</th>
                <th class="nombreCafe" scope="row">{{cafe.nombre}}</th>
                <th scope="row"><input class="cantidadCafe" id="{{cafe.codCafe}}" type="text" placeholder="cantidad">
                </th>
            </tr>
        </div>

    </tbody>
</table>

<div class=" row col-md-12">
    <button class="btn btn-success  btnx ml-auto" (click)="asignar()">Asignar</button>
</div>

