<div class="row col-md-4">
    <h1> <span class="badge badge-info">Evento: ejemplo Panel: ejemplo</span></h1>
</div>


<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cafe of cafesPanel">
            <th scope="row">{{cafe.codCafe}}</th>
            <th scope="row">{{cafe.nombre}}</th>
            <th scope="row"><input id="{{cafe.codCafe}}" type="text" placeholder="cantidad"></th>
        </tr>

    </tbody>


</table>

<div class=" row col-md-4">
    <button class="btn btn-success  " (click)="asignar()">Asignar</button>
</div>