<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <h5 class="text-uppercase"> <img width="30%" src="../../../assets/logo.jpg" alt="">

                    <h1>Almost </h1>
                    <h1>Engineers</h1>
                </h5>
                <p>Ingeniería del software III</p>


                <!-- Content -->


            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Integrantes</h5>
                <br>
                <ul class="list-unstyled">
                    <li>
                        Jhonathan Álvarez
                    </li>
                    <li>
                        Bryan Arroyave
                    </li>
                    <li>
                        Ivonne Moreno
                    </li>
                    <li>
                        Jorge Piedrahíta
                    </li>
                    <li>
                        Julian Salgado
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Correo</h5>
                <br> 
                <ul class="list-unstyled">
                    <li>
                        jhonathan0297@gmail.com
                    </li>
                    <li>
                        bryanarroyaveo@gmail.com

                    </li>
                    <li>
                       ivon.mb25@gmail.com
                    </li>
                    <li>
                        piedrahita.jorge.10@gmail.com
                    </li>
                    <li>
                        julisalgado71@gmail.com
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <p>Almost engineers</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->