<button type="button" (click)="prueba()">Download</button>
<br>
<br>
<br>
<div id="content" class="col-md-12">




    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <h1>observaciones</h1>
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque esse omnis vel consectetur!
                    Sit
                    iure laboriosam excepturi, facere animi voluptates ratione veniam ipsam incidunt earum ipsum,
                    molestias
                    ea esse.
                </th>


            </tr>
            <tr>
                <th scope="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque esse omnis vel consectetur!
                    Sit
                    iure laboriosam excepturi, facere animi voluptates ratione veniam ipsam incidunt earum ipsum,
                    molestias
                    ea esse.
                </th>


            </tr>
            <tr>
                <th scope="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque esse omnis vel consectetur!
                    Sit
                    iure laboriosam excepturi, facere animi voluptates ratione veniam ipsam incidunt earum ipsum,
                    molestias
                    ea esse.
                </th>


            </tr>
            <tr>
                <th scope="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque esse omnis vel consectetur!
                    Sit
                    iure laboriosam excepturi, facere animi voluptates ratione veniam ipsam incidunt earum ipsum,
                    molestias
                    ea esse.
                </th>


            </tr>
        </tbody>

    </table>

</div>