<div class="col-md-4" *ngFor="let game of eventos">

    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center ">
            {{game.codigo}}

            <i class="fas fa-calendar-alt"></i>

        </div>
        <div class="card-body">

            <p>{{game.nombre}} </p>
            <p>{{game.fecha}}</p>
            <button class="btn btn-success btn-block" (click)="cambiarEvento(game.codigo)"
                routerLink="/eventos/{{game.codigo}}/panel">
                Entrar
            </button>


        </div>
    </div>

</div>

