<div class="row col-md-4">
    <h1> <span class="badge badge-info">Evento: {{codigoEvento}} Panel: {{codigoPanel}}</span></h1>
</div>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Asignar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let catador of catadores">
            <th scope="row">{{catador.codigo}}</th>
            <td>{{catador.nombre}}</td>
            <td>{{catador.correo}}</td>
            <td>
                <button class="btn btn-success btn-block"
                    routerLink="/eventos/{{codigoEvento}}/panel/{{codigoPanel}}/catador/{{catador.codigo}}">Asignar</button>
            </td>
        </tr>

    </tbody>
</table>


