<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <img routerLink="/home" width="10%" src="../../../assets/Logo Catafex.jpeg" alt="">

    Catafex

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <img width="10%" src="../../../assets/logo.jpg" alt="">

    <h1>Almost Engineers</h1>
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/catadores" routerLinckActive="active">
          <i class="fas fa-mug-hot"></i>
          Catadores

          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">

        <a class="nav-link" routerLink="/eventos" routerLinckActive="active">
          <i class="fas fa-user-plus"></i>
          Asignar
        </a>
      </li>
      <li class="nav-item">

        <a class="nav-link" routerLink="/habilitar" routerLinckActive="active">
          <i class="fas fa-cannabis"></i>
          Habilitar
        </a>
      </li>
    </ul>
  </div>
</nav>